body {
  font-size: 14px;
}

.App {
  color: white;
  background-color: black;
  min-height: 100vh;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-item {
  color: red;
  text-decoration: none;
}

.logo {
  font-weight: 900;
  padding: 16px;
  margin-bottom: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.gif {
  max-width: 200px;
  height: auto;
}

.gif-container {
  width: 200px;
  height: 125px;
  overflow: hidden;
  margin: 16px;
}

.gif-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-input {
  padding: 16px;
  margin: 16px;
  font-size: 24px;
  width: 100%;
  box-sizing: border-box;
}

.header-button {
  background: linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
  border: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  margin-left: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.load-more-container {
  width: 100%;
  padding: 16px;
}

.load-more {
  width: 100%;
  color: white;
  background: linear-gradient(103deg, #6157ff, #7067ff, #6157ff);
  border: none;
  padding: 16px;
  font-size: 24px;
}

.container {
  font-size: 20px;
}

.loading {
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  color: black;
  padding: 16px;
}

.modal-header {
  display: flex;
  align-items: flex-start;
}
